<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hda.nzse.tower_defense">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        <!-- First activity is the main menu of game -->
        <activity
            android:name=".OnboardingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PauseActivity"
            android:exported="false"
            android:screenOrientation="sensor" />

        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="sensor" />
        <activity
            android:name=".LevelauswahlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="sensor" />
        <activity
            android:name=".ExtrasActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="sensor" />
        <activity
            android:name=".StatistikenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="sensor" />
        <activity
            android:name=".LexikonActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="sensor" />
        <activity
            android:name=".EinstellungenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="sensor" />

        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:screenOrientation = "landscape"  />

    </application>

</manifest>